
img{
   width: 500px;
   height: auto; 
}


 a:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
  }

text-center {
    text-align: center;
}

main {
    margin: 0px 8px;
    padding: 15 px;
    background-color: rgb(234, 208, 147);
}
